<!-- <div id="myForm" class="col-xs-12 col-md-12">
  
  <h3 id="mote">Mötes förslag</h3>
  <form class="form-inline" id="createForm">
    <div class="form-group" id="mote1">
      	<label for="namn">Namn</label> <br>
      	<input type="text" class="form-control" id="namn" placeholder="Skriv här...">
    </div>

    <div class="form-group" id="mote2">
      	<label for="email">Email</label> <br>
      	<input type="text" class="form-control" id="email" placeholder="Skriv här...">
    </div> <br>

    <div class="form-group" id="mote1">
      	<label for="adress">Adress</label> <br>
      	<input type="text" class="form-control" id="adress" placeholder="Skriv här...">
    </div>

    <div class="form-group" id="mote2">
      	<label for="bostadstyp">Bostadstyp</label> <br>
      	<input type="text" class="form-control" id="bostadstyp" placeholder="Skriv här...">
    </div> <br>

    <div class="form-group" id="mote1">
      	<label for="övrigt">Övrigt</label> <br>
      	<input type="textarea" class="form-control" id="övrigt" placeholder="Skriv här...">
    </div> 

	<div class="form-group" id="mote2">
		<label for="datum">Datum</label> <br>
    	<input type="text" class="form-control dateInputField" ng-model="selectedDate">
  	</div><br>
    
    <div id="send1" class="form-group" >
      <button onclick="formMessage()" type="submit" class="btn btn-default">Skicka</button>
    </div> 
  	
  </form>
  
</div> -->
<h3 id="datepickertext">Du är helt ute o cyklar men du kan ju iallafall fylla i ett datum</h3>
<form ng-submit="submitForm()">
  <div id="datepicker"class="form-group" >
    <input type="text" class="form-control dateInputField" ng-model="selectedDate">
  </div>
</form>