<my-slider></my-slider>

<div class="container">
	<div class="row" id="firststartrow">
	  	<div class="col-xs-8 col-md-18 col-lg-24">
	    	<div class="hovereffect">
        		<img class="img-responsive" src="/img/hus/hus2.jpg" alt="hus" id="huslänk">
            	<div class="overlay">
                	<h2>Till salu</h2>
					<p> 
						<a href="/kontor"><b>Klicka här för fler hus till salu</b></a>
					</p> 
            	</div>
    	</div>	    	
		</div>
		<div class="hovereffect">
        		<img class="img-responsive" src="/img/jobb.jpg" alt="jobbkarriär" id="jobbkariär">
            	<div class="overlay">
                	<h2>Kontor</h2>
					<p> 
						<a href="/kontor"><b>Just nu söker vi fler medarbetare till vårt kontor i Malmö! Läs mer här.</b></a>
					</p> 
            	</div>
    	</div>
	</div>

	<!-- <div class="row" id="startpageimages">
	  	<div class="col-xs-8 col-md-18 col-lg-24">
	    	<div class="hovereffect">
        		<img class="img-responsive" src="/img/hus/hus1.jpg" alt="hus">
            	<div class="overlay">
                	<h2>Kontor</h2>
					<p> 
						<a href="/kontor">Läs mer om våra kontor</a>
					</p> 
            	</div>
    		</div>
		</div>
	</div> -->
</div>
