<my-slider></my-slider>

<div class="container">
	<div class="row" id="firststartrow">
	  	<div class="col-xs-24 col-md-12 col-lg-8">
	    	<div class="huseffekt">
        		<img class="img-responsive" src="/img/hus/hus2.jpg" alt="hus" id="huslänk">
            	<div class="overlay">
                	<h2>Till salu</h2>
					<p> 
						<a href="/köpa"><b>Här finns de bostäder som är till salu i Malmö.</b></a>
					</p> 
            	</div>
    		</div>
    		<div class="värderingseffekt">
        		<img class="img-responsive" src="/img/inspektera.jpg" alt="inspektera" id="inspektera">
            	<div class="overlay">
                	<h2>Fri värdering</h2>
					<p> 
						<a href="/sälja"><b>Vi erbjuder fri värdering av din bostad. För mer info, klicka här.</b></a>
					</p> 
            	</div>
    		</div>	
		</div>
		<div class="karriäreffekt">
        		<img class="img-responsive" src="/img/jobb.jpg" alt="jobbkarriär" id="jobbkariär">
            	<div class="overlay">
                	<h2>Kontor</h2>
					<p> 
						<a href="/kontor"><b>Just nu söker vi fler medarbetare till vårt kontor i Malmö! Läs mer här.</b></a>
					</p> 
            	</div>
    	</div>
	</div>
</div>
