<div class="container">
	<h2 id="companyinfo">
	    Vi på Dyhr &amp; Rumson vet vad som krävs för en lyckad affär
	    när det gäller både köpa en ny eller sälja sin bostad.
	    Välkommen att kontakta oss, så berättar vi gärna mer...
	</h2>
	<div class="row">
		<div class="col-xs-24 col-md-20">	
			<my-contact></my-contact>
			<div id="contactinfo">
				<ul>
					<li><span class="glyphicon glyphicon-envelope"></span><a ng-href="mailto:dyhr&amp;rumson@info.se">Dyhr&amp;rumson@info.se</a></li>
					<li><span class="glyphicon glyphicon-phone"></span><a ng-href="callto:+461 234 567 89">+461 234 567 89</a></li>
					<li><span class="glyphicon glyphicon-map-marker"></span><a ng-href="https://www.google.se/maps/place/Nordenski%C3%B6ldsgatan+13,+211+19+Malm%C3%B6/@55.6102216,12.9926056,17z/data=!3m1!4b1!4m5!3m4!1s0x4653a3f8940e2bff:0x1dd22efbc91277e6!8m2!3d55.6102186!4d12.9947943?hl=sv" target="_blank">Nordenskiöldsgatan 13, 211 19 Malmö</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-24 col-md-18 col-lg-12">
			<img src="/img/hus/hus1.jpg" alt="hus" id="hus21">
		</div>
	</div>
</div>