<div class="container kontorContainer" id="kontor">
	<h2 id="kontorrubrik">Här är vi som jobbar på Dyhr &amp; Rumson i Skåne!</h2>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare1.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>ANDERS BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-33 98 27</li>
							<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
						</ul>
		    		</div>		
		   	</div>
	    </div>
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare2.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>CAMILLA BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-33 98 26</li>
							<li><a href="mailto:camilla.backman@MOHV.se">camilla.backman@MOHV.se</a></li>
						</ul>
	    			</div>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare3.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>AGNETA BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-23 98 27</li>
							<li><a href="mailto:agneta.backman@MOHV.se">agneta.backman@MOHV.se</a></li>
						</ul>
	    			</div>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare4.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>CHRISTINA BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-33 28 27</li>
							<li><a href="mailto:christina.backman@MOHV.se">christina.backman@MOHV.se</a></li>
						</ul>
	    			</div>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare5.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>HANS BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-53 98 27</li>
							<li><a href="mailto:hans.backman@MOHV.se">hans.backman@MOHV.se</a></li>
						</ul>
	    			</div>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare6.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>LOVISA BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-33 97 27</li>
							<li><a href="mailto:lovisa.backman@MOHV.se">lovisa.backman@MOHV.se</a></li>
						</ul>
	    			</div>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare7.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>KARINA BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-33 90 27</li>
							<li><a href="mailto:karina.backman@MOHV.se">karina.backman@MOHV.se</a></li>
						</ul>
	    			</div>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div class="img">
				<img src="/img/mäklare/mäklare8.jpg" alt="...">
					<div class="bottom-align-text col-xs-6 col-md-6" >
						<ul>
							<li>JENNY BACKMAN</li>
							<li>REG.FASTIGHETSMÄKLARE</li>
							<li>07-66-33 98 20</li>
							<li><a href="mailto:jenny.backman@MOHV.se">jenny.backman@MOHV.se</a></li>
						</ul>
	    			</div>
    		</div>
		</div>
	</div>
</div>




<!-- 
<div class="col-xs-12">
		<bilderkontor></bilderkontor>
	</div>
</div> -->
<!-- 
ANDERS BACKMAN
REG. FASTIGHETSMÄKLARE
 
0766-33 98 27
anders.backman@MOHV.se

ANN-CHARLOTTE LJUNGSTRÖM
REG. FASTIGHETSMÄKLARE
 
0705-55 49 51
ac.ljungstrom@MOHV.se

ANN-SOFIA JONASSON
REG. FASTIGHETSMÄKLARE
 
0766-455 709
annsofia.jonasson@MOHV.se

ANNIKA LAWITZ
REG. FASTIGHETSMÄKLARE
 
0708-25 63 09
annika.lawitz@MOHV.se
 -->
	
