<div class="container">
	<h2 id="companyinfo">
	    Vi på Dyhr &amp; Rumson vet vad som krävs för en lyckad affär
	    när det gäller både köpa en ny eller sälja sin bostad.
	    Välkommen att kontakta oss, så berättar vi gärna mer...
	</h2>
	<div class="row">
		<div class="col-xs-24 col-md-20">	
			<my-contact></my-contact>
			<div id="contactinfo">
				<ul>
					<li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:"></a></li>
					<li><span class="glyphicon glyphicon-phone"></span></li>
					<li><span class="glyphicon glyphicon-map-marker"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-24 col-md-18 col-lg-12">
			<img src="/img/hus/hus1.jpg" alt="hus" id="hus21">
		</div>
	</div>
</div>