<div class="container" id="kontor">
	<h2 id="kontorrubrik">Här är vi som jobbar på Dyhr &amp; Rumson i Malmö!</h2>
	<div class="row">
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare1.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6" >
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare2.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6" >
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare3.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6">
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare4.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6">
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare1.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6">
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare2.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6">
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare3.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6">
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
		<div class="col-xs-6 col-md-6" class="mäklare">
			<img src="/img/mäklare4.jpg" alt="..." style="height: 180px; width= 190px; margin-top: 20%; margin-left: 15%;">
			<div class="bottom-align-text col-xs-6 col-md-6">
				<ul>
					<li>ANDERS BACKMAN</li>
					<li>REG.FASTIGHETSMÄKLARE</li>
					<li>07-66-33 98 27</li>
					<li><a href="mailto:anders.backman@MOHV.se">anders.backman@MOHV.se</a></li>
				</ul>
    		</div>
		</div>
	</div>
</div>




<!-- 
<div class="col-xs-12">
		<bilderkontor></bilderkontor>
	</div>
</div> -->
<!-- 
ANDERS BACKMAN
REG. FASTIGHETSMÄKLARE
 
0766-33 98 27
anders.backman@MOHV.se

ANN-CHARLOTTE LJUNGSTRÖM
REG. FASTIGHETSMÄKLARE
 
0705-55 49 51
ac.ljungstrom@MOHV.se

ANN-SOFIA JONASSON
REG. FASTIGHETSMÄKLARE
 
0766-455 709
annsofia.jonasson@MOHV.se

ANNIKA LAWITZ
REG. FASTIGHETSMÄKLARE
 
0708-25 63 09
annika.lawitz@MOHV.se
 -->
	
